.demo-big-content Link:hover{ 
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.demo-big-content .header-color{
  background-color: #833ab4;
  
}

.landing-grid{
  background-color:white;
  text-align: center;
}

.banner-text{
  background-color: black;
  margin: auto;
  width: 67%;
  opacity: 0.8;
  border-radius: 10px;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.socialLinks{
  display: flex;
  width: 50%;
  margin: auto;
}

.socialLinks i{
  color: rgb(0, 0, 0);
  font-size: 5em;
  padding: 8px;
}

@keyframes shuffle{
  0%
  {
    transform: translateY(0px);

  }

  100%
  {
    transform: translateY(-250px);

  }
}

.avatar-img{
  height: 250px;
  /* padding-top: 5cm; */
}

.typewriter{
  background-color: black;
  opacity: .8;
  width: 75;
  margin: auto;
  border-radius: 10px;

}

.typewriter1{
  background-color: black;
  opacity: .8;
  width: 75;
  margin: auto;
  border-radius: 10px;
  

}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /*Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.typewriter1 h3 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /*Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


body {background:white;

}

@keyframes loadingAfter {
  0%   {transform:translateX(-50px);}
  50%  {transform:translateX(50px);}
  100% {transform:translateX(-50px);}
}

.projects-grid{
  display: flex;
}

.projects-grid style{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.projects-grid style:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


/* Resume Page */
.resume-right-col{
  background-color: black;
  color: white;
  padding: 2em;
}

